# Build dir
bin/*
!bin/.gitkeep

# Compiled object files
*.o
*.obj

# Compiled binary files
*.out
*.exe
*.bin

# Ignore all .ppm files
*.ppm

# Allow .ppm files only in the img/ directory
!img/*.ppm

# IDE settings
.vscode/
.idea/
*.code-workspace